<header> 
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gossip-Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" <%= link_to "La Dream Team", team_path %> </a> 
        </li>
        <li>
          <a class="nav-link" <%= link_to "Contactez-nous", contact_path %> </a>    
        </li>
      </ul>
    </div>
  </nav>
</header>


<body>
  <div class="m-3">
    <h2> Bienvenue à la page d'accueil du Gossip Project </h2><br/>

    <div class="row m-1">
      <% @gossips.each_with_index do |gossip, index| %>
        <div class = "col d-flex align-items-top">
          <div class="card mb-3 p-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Potin <%= index + 1%> : "<%= gossip.title %>"</h5>
              <p class="card-text ">Auteur : <%= gossip.user.first_name %> <%= gossip.user.last_name %></p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Date de création : <br/> <%= gossip.created_at.strftime("%d-%m-%y") %></li>
                <li class="list-group-item">Gossips de l'auteur : <%= gossip.user.gossips.count %></li>
                <p> </p>
              </ul>
            <div class="btn btn-warning link-primary">
                <%= link_to "Le gossip en détails", show_path(gossip) %> 
            </div>
          </div>
        </div>
    </div>
      <% end %>
  </div>
</body>