<% flash.each do |name, msg| %>
  <div class="alert alert-success" role="alert"> <%= msg %> </div>
<% end %>

<h1>Gossips N°<%= @gossip.id %> </h1>
<p>Date de création : <%= @gossip.created_at %></p>
<p>Titre du gossip : <%= @gossip.title %></p>
<p>Auteur : <%= @gossip.user.first_name %> <%= @gossip.user.last_name %></p>
<p>Vous voulez des informations sur l'auteur ? <%= link_to "Cliquer ici", author_path(@gossip.user.id) %></p>

<p>Contenu du gossip : <%= @gossip.content %></p>
