<h2>Informations sur l'auteur !</h2>
<p>Nom : <%=@user.first_name%> <%= @user.last_name %> </p>
<p>Nombre de potins réalisés : <%= @user.gossips.count %> </p>
<p> Lien vers ses potins <% @user.gossips.each do |gossip| %> </p>

<ul>
  <li> <%=gossip.title%> -> <%= link_to "Par ici", gossip_path(gossip) %>  </li>
</ul>

<% end %>
